/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


body {
  background-color: rgb(128, 166, 206);
  margin:auto;
}

.seccion-oscura {
  color: black;
  background-color: #133855;
}


.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Sigmar';
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #00203b;
}

.seccion-datos {
  font-size: 1.5rem;
  color: #02152b;
}


/* Barra de navegacion */

.navbar {
  padding: 2rem;
  background-color: rgb(128, 166, 206);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}


/* Idiomas */
ul{
  padding-left: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

.translate{
  display: flex;
  justify-content: end;
  width: 95%;
  border: none;
}
.idioma{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  position: relative;
}
.idioma:hover{
  background-color: rgb(228, 228, 228);
}
/* Lista de idiomas */
.idiomas{
  position: absolute;
  top: 90px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
.idiomas li{
  width: 100%;
}
.idiomas li a{
  display: block;
  padding: 10px;
  font-size: 10px;
  color: rgb(85, 85, 85);
}
.idiomas li a:hover{
  background-color: rgb(219, 219, 219);
}
.idiomas li img{
  border-radius: 50%;
}

/* toogle - js */
.toggle{
  visibility: visible;
}


/* Perfiles */

.perfiles-recientes {
  padding: 40px;
}

.perfiles-recientes img {
  height: 90%;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.perfiles-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.perfil {
  position: relative;
}

.perfil:hover img {
  opacity: 0.2;
}

.perfil:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
  background-position: center;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Sección Input */
.buscador-input{
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.buscador-input-container{
  width: 400px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.buscador-input input{
  border: none;
  width: 325px;
  height: 40px;
  outline: none;
}

.buscador-input-container:hover{
  box-shadow: 0 1px 6px 0px #20212447;
  border-color: #dfe1e500;
}

/* Efecto hover */
.buscador-buttons button:hover{
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

/* Icono de lupa */
.buscador-input .search-icon{
  background-image: url("/static/imagenes/lupa.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-left: 6%;
  border: none;
  box-shadow: none;
}

/* Pie de pagina (footer) */

footer {
  min-height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: rgb(240, 234, 210);
  border: 2px solid rgb(173, 193, 120);
}

.iconos-redes-sociales a:hover i {
  color: black;
}


/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

