{% extends "clima.html" %}

{% block url %} <form action="{{ url_for('climap') }}" method="get"> {% endblock %}

{% block clima %}
<!-- Clima -->
{% if weather_data_pasajeros %}
   {% if weather_data_pasajeros == "Ciudad no encontrada" %}
     <p>{{ weather_data_pasajeros }}</p>
   {% else %}
    <div class="row m-2 p-2 justify-content-center">
      <div class="col-4 m-2 p-2 ">
        <div class="icono-clima">
          <img src="{{ weather_data_pasajeros.icon_url }}" width="250px" alt="Icono del clima">
        </div>
      </div>
      <div class="col m-2 p-2">
        <div>
          <div class="row">
            <div class="col">
              <h2 class="seccion-datos"> {{ weather_data_pasajeros.temperature}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="texto">
              <p> {{ weather_data_pasajeros.description }} </p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col m-2 p-2 textoInformativo">
    
          <div class="icono">
            <i class="bi bi-thermometer-high"></i>
          </div>
    
          <div class="texto">
            <p>Temperatura Máxima</p>
            <p> {{ weather_data_pasajeros.temp_max }}</p>
          </div>
    
        </div>
    
        <div class="col m-2 p-2 textoInformativo">
    
          <div class="icono">
            <i class="bi bi-thermometer"></i>
          </div>
    
          <div class="texto">
            <p>Temperatura Mínima</p>
            <p> {{weather_data_pasajeros.temp_min}} </p>
          </div>
    
        </div>
    
        <div class="col m-2 p-2 textoInformativo">
          <div class="icono">
            <i class="bi bi-thermometer-sun"></i>
          </div>
    
          <div class="texto">
            <p> Sensación térmica </p>
            <p> {{weather_data_pasajeros.feels_like}} </p>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col m-2 p-2 textoInformativo">
          <div class="icono">
            <i class="bi bi-sunrise-fill"></i>
          </div>
    
          <div class="texto">
            <p>Amanecer</p>
            <p> {{ weather_data_pasajeros.sunrise }} </p>
          </div>
        </div>
    
        <div class="col m-2 p-2 textoInformativo">
          <div class="icono">
            <i class="bi bi-sunset-fill"></i>
          </div>
    
          <div class="texto">
            <p>Anochecer</p>
            <p> {{weather_data_pasajeros.sunset }} </p>
          </div>
    
        </div>
    
        <div class="col m-2 p-2 textoInformativo">
    
          <div class="icono">
            <i class="bi bi-cloud-rain-heavy-fill"></i>
          </div>
    
          <div class="texto">
            <p>Lluvia</p>
              <p> {{ weather_data_pasajeros.rain_1h }} </p>
          </div>
        </div>
      </div>
    </div>
   {% endif %}
{% else %}
   Aquí aparecerá la información del clima.
{% endif %}

{% endblock %}