{% extends "base.html" %}
{% block nubecitas %}
<link rel="icon" type="image/x-icon" href="/static/imagenes/nubes.png">
{% endblock %}

{% block barra %}
<!-- Barra de navegacion -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <a class="navbar-brand" href="#">
        <img src="/static/imagenes/aicm.png" width="400" fill="black">
      </a>
      <!-- Buscador/Input -->
      <section class="buscador-input">
        <p><br></p>
        {% block url %} <form action="{{ url_for('climat') }}" method="get"> {% endblock %}
          <div class="buscador-input-container">
            <input type="text" name="city_name" placeholder="Veamos la condición climática en..." tabindex="0">
            <button type="submit" class="search-icon"></button>
          </div>
        </form>
      </section>
</nav>
{% endblock %}

{% block vacio %}
<!-- CLima -->
<section id="perfiles" class="perfiles-recientes d-flex flex-column" style="text-align: center;">
  <h2 class="seccion-titulo texto-negro">Clima en {{ city_name }}</h2>
  <div class="container text-center perfiles-contenedor">
    <div class="row">
      {% block clima %}
      <!-- Clima -->
      {% if weather_data %}
       {% if weather_data == "Ciudad no encontrada" %}
         <p>{{ weather_data }}</p>
       {% else %}
      <div class="row m-2 p-2 justify-content-center">
        <div class="col-4 m-2 p-2 ">
          <div class="icono-clima">
            <img src="{{ weather_data.icon_url }}" width="250px" alt="Icono del clima">
          </div>
        </div>
        <div class="col m-2 p-2">
          <div>
            <div class="row">
              <div class="col">
                <h2 class="seccion-datos"> {{ weather_data.temperature}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="texto">
                <p> {{ weather_data.description }} </p>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col m-2 p-2 textoInformativo">
      
            <div class="icono">
              <i class="bi bi-thermometer-high"></i>
            </div>
      
            <div class="texto">
              <p>Temperatura Máxima</p>
              <p> {{ weather_data.temp_max }}</p>
            </div>
      
          </div>
      
          <div class="col m-2 p-2 textoInformativo">
      
            <div class="icono">
              <i class="bi bi-thermometer"></i>
            </div>
      
            <div class="texto">
              <p>Temperatura Mínima</p>
              <p> {{weather_data.temp_min}} </p>
            </div>
      
          </div>
      
          <div class="col m-2 p-2 textoInformativo">
            <div class="icono">
              <i class="bi bi-clouds-fill"></i>
            </div>
        
            <div class="texto">
              <p> Visibilidad </p>
              <p> {{weather_data.visibility}} </p>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col m-2 p-2 textoInformativo">
            <div class="icono">
              <i class="bi bi-droplet-fill"></i>
            </div>
      
            <div class="texto">
              <p>Humedad</p>
              <p> {{ weather_data.humidity }} </p>
            </div>
          </div>
      
          <div class="col m-2 p-2 textoInformativo">
            <div class="icono">
              <i class="bi bi-cloud-fill"></i>
            </div>
      
            <div class="texto">
              <p>Nubosidad</p>
              <p> {{weather_data.cloudiness }} </p>
            </div>
      
          </div>
      
          <div class="col m-2 p-2 textoInformativo">
      
            <div class="icono">
              <i class="bi bi-compass-fill"></i>
            </div>
      
            <div class="texto">
              <p>Presión</p>
              <p> {{ weather_data.pressure }} </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col m-2 p-2 textoInformativo">
            <div class="icono">
              <i class="bi bi-wind"></i>
            </div>
      
            <div class="texto">
              <p>Viento</p>
              <p> {{ weather_data.wind_speed }} </p>
            </div>
          </div>
      
          <div class="col m-2 p-2 textoInformativo">
            <div class="icono">
              <i class="bi bi-cloud-haze2-fill"></i>
            </div>
      
            <div class="texto">
              <p>Dirección del viento</p>
              <p> {{weather_data.wind_deg }} </p>
            </div>
      
          </div>
      
          <div class="col m-2 p-2 textoInformativo">
      
            <div class="icono">
              <i class="bi bi-cloud-rain-heavy-fill"></i>
            </div>
      
            <div class="texto">
              <p>Lluvia</p>
              <p> {{ weather_data.rain_info }} </p>
            </div>
          </div>
        </div>
      </div>
       {% endif %}
      {% else %}
      Aquí aparecerá la información del clima.
      {% endif %}
      {% endblock %}
    </div>
  </div>
</section>
{% endblock %}

{% block java %}
<script src="static/idiomas/clima.js"></script>
{% endblock %}

{% if weather_data %}
              {% if weather_data == "Ciudad no encontrada" %}
                <p>{{ weather_data }}</p>
              {% else %}

              {% endif %}
              {% else %}
              Aquí aparecerá la información del clima.
              {% endif %}               