{% extends "clima.html" %}

{% block url %} <form action="{{ url_for('climap') }}" method="get"> {% endblock %}

{% block icono %}
<!-- Icono -->
<div class="col">
  <div class="clima">
      {% if weather_data_pasajeros %}
        {% if weather_data_pasajeros == "Ciudad no encontrada" %}
          <p>{{ weather_data_pasajeros }}</p>
        {% else %}
          <img src="{{ weather_data_pasajeros.icon_url }}" alt="Icono del clima">
          {% endif %}
                {% else %}
                Aquí aparecerá la información del clima.
                {% endif %}               
  </div>
</div>
{% endblock %}

{% block clima %}
<!-- Clima -->
<div class="col">
  <div class="recomendaciones">
    {% if weather_data_pasajeros %}
                {% if weather_data_pasajeros == "Ciudad no encontrada" %}
                <p>{{ weather_data_pasajeros }}</p>
                {% else %}
                <p><strong>Temperatura:</strong> {{ weather_data_pasajeros.temperature }}</p>
                <p><strong>Mínima:</strong> {{ weather_data_pasajeros.temp_min }}</p>
                <p><strong>Máxima:</strong> {{ weather_data_pasajeros.temp_max }}</p>
                <p><strong>Descripción:</strong> {{ weather_data_pasajeros.description }}</p>
                <p><strong>Sensación térmica:</strong> {{ weather_data_pasajeros.feels_like }}</p>
                <p><strong>Viento:</strong> {{ weather_data_pasajeros.wind_speed }} dirección {{ weather_data_pasajeros.wind_deg }}</p>
                <p><strong>Amanecer:</strong> {{ weather_data_pasajeros.sunrise }} UTC</p>
                <p><strong>Anochecer:</strong> {{ weather_data_pasajeros.sunset }} UTC</p>
                {% endif %}
                {% else %}
                Aquí aparecerá la información del clima.
                {% endif %}
              </div>
              
  </div>
{% endblock %}
