{% extends "base.html" %}

{% block barra %}
<!-- Barra de navegacion -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <a class="navbar-brand" href="#">
        <img src="/static/imagenes/aicm.png" width="400" fill="black">
      </a>
      <!-- Buscador/Input -->
      <section class="buscador-input">
        <h2 class="seccion-titulo texto-negro" id="busca-info"></h2>
        <h3 class="seccion-descripcion" id="porfa-info"></h3>
        <h3 class="seccion-descripcion"><br></h3>
        {% block url %} <form action="{{ url_for('climat') }}" method="get"> {% endblock %}
          <div class="buscador-input-container">
            <input type="text" name="city_name" placeholder="Veamos la condición climática en..." tabindex="0" maxlength="15" id="city-input">
            <button type="submit" class="search-icon"></button>
        </div>        
        </form>
      </section>
</nav>
{% endblock %}

{% block vacio %}
<!-- CLima -->
<section id="perfiles" class="perfiles-recientes seccion-clara d-flex flex-column" style="text-align: center;">
  <h2 class="seccion-titulo texto-negro">Clima en {{ city_name }}</h2>
  <div class="container text-center perfiles-contenedor">
    <div class="row">
    {% block icono %}
      <!-- Icono -->
      <div class="col">
        <div class="clima">
            {% if weather_data %}
              {% if weather_data == "Ciudad no encontrada" %}
                <p>{{ weather_data }}</p>
              {% else %}
                <img src="{{ weather_data.icon_url }}" alt="Icono del clima">
                {% endif %}
                      {% else %}
                      Aquí aparecerá la información del clima.
                      {% endif %}               
        </div>
      </div>
      {% endblock %}
      {% block clima %}
      <!-- Clima -->
      <div class="col">
        <div class="clima">
            <h3 class="seccion-descripcion"></h3>
            {% if weather_data %}
              {% if weather_data == "Ciudad no encontrada" %}
                <p>{{ weather_data }}</p>
              {% else %}
                <p><br></p>
                <p><br></p>
                <h3 class="seccion-datos"><strong>Temperatura:</strong> {{ weather_data.temperature }}</h3>
                <h3 class="seccion-datos"><strong>Mínima:</strong> {{ weather_data.temp_min }}</h3>
                <h3 class="seccion-datos"><strong>Máxima:</strong> {{ weather_data.temp_max }}</h3>
                <h3 class="seccion-datos"><strong>Viento:</strong> {{ weather_data.wind_speed }} dirección {{ weather_data.wind_deg }}</h3>
                {% endif %}
                      {% else %}
                      Aquí aparecerá la información del clima.
                      {% endif %}               
        </div>
      </div>
      <!-- Extras -->
      <div class="col">
        <div class="recomendaciones">
          {% if weather_data %}
                      {% if weather_data == "Ciudad no encontrada" %}
                      <p>{{ weather_data }}</p>
                      {% else %}
                      <p><br></p>
                      <p><br></p>
                      <h3 class="seccion-datos"><strong>Visibilidad:</strong> {{ weather_data.visibility }}</h3>
                      <h3 class="seccion-datos"><strong>Nubosidad:</strong> {{ weather_data.cloudiness }}</h3>
                      <h3 class="seccion-datos"><strong>Amanecer:</strong> {{ weather_data.sunrise }} UTC</h3>
                      <h3 class="seccion-datos"><strong>Anochecer:</strong> {{ weather_data.sunset }} UTC</h3>
                      {% endif %}
                      {% else %}
                      Aquí aparecerá la información del clima.
                      {% endif %}
                    </div>
                    
        </div>
      {% endblock %}
  </div>
</section>
{% endblock %}

{% block java %}
<script src="static/idiomas/clima.js"></script>
<script>
    // Función para capitalizar la primera letra del input
    document.getElementById('city-input').addEventListener('input', function() {
        const value = this.value;
        if (value.length > 0) {
            this.value = value.charAt(0).toUpperCase() + value.slice(1);
        }
    });
</script>
{% endblock %}
