{% extends "base.html" %}

{% block barra %}
<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <a class="navbar-brand" href="#">
        <img src="/static/imagenes/aicm.png" width="400" fill="black">
      </a>
      <!-- Buscador/Input -->
      <section class="buscador-input">
        <h2 style="font-size: 1.2em; font-weight: normal;" id="busca-info">Buscar otra ciudad</h2>
        <!-- Aquí seleccionamos la URL correcta según el contexto -->
        <form action="{% if context == 'tripulacion' %}{{ url_for('climat') }}{% elif context == 'pasajeros' %}{{ url_for('climap') }}{% else %}{{ url_for('inicio') }}{% endif %}" method="get">
          <div class="buscador-input-container">
            <input type="text" name="city_name" placeholder="Veamos la condición climática en..." maxlength="15" tabindex="0" required class="form-control">
            <button type="submit" class="search-icon"></button>
          </div>
        </form>
      </section>
    </div>
  </div>
</nav>
{% endblock %}

{% block vacio %}
<!-- Mensaje de error -->
<section class="error-mensaje" style="text-align: center;">
  <h2 class="seccion-titulo texto-negro">Ciudad no encontrada</h2>
  <p>Lo sentimos, no hemos podido encontrar la ciudad "<strong>{{ city_name }}</strong>".</p>
  <p>Por favor, intenta buscar otra ciudad.</p>
</section>
{% endblock %}

{% block java %}
<script>
    // Validación adicional en JavaScript (opcional)
    document.addEventListener('DOMContentLoaded', function() {
        const input = document.querySelector('input[name="city_name"]');
        input.addEventListener('input', function() {
            if (this.value.length > 15) {
                alert('El nombre de la ciudad no puede tener más de 15 caracteres.');
                this.value = this.value.slice(0, 15); // Recorta el texto a 15 caracteres si se excede
            }
        });
    });
</script>
{% endblock %}