{% extends "base.html" %}

{% block vacio %}
<!-- Perfiles -->
<section id="perfiles" class="perfiles-recientes seccion-clara d-flex flex-column" style="text-align: center;">
  <h2 class="seccion-titulo texto-negro" id="bienvenida-info"></h2>
  <h3 class="seccion-descripcion" id="escoja-info"></h3>
  <div class="container text-center perfiles-contenedor">
    <div class="row">
      <!-- Tripulación -->
      <div class="col">
        <div class="perfil">
          <img src="static/imagenes/tripulacion.jpg" alt="Tripulacion">
          <div class="overlay">
            <p id="tp-info"></p>
            <div class="iconos-contenedor">
              <a href="{{ url_for('tripulacion') }}">
                <i class="bi bi-airplane-engines"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Pasajeros -->
      <div class="col">
        <div class="perfil">
          <img src="static/imagenes/pasajeros.jpg" alt="Pasajeros">
          <div class="overlay">
            <p id="pax-info"></p>
            <div class="iconos-contenedor">
              <a href="{{ url_for('pasajeros') }}">
                <i class="bi bi-luggage"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
</section>

{% endblock %}